@import url("https://fonts.googleapis.com/css?family=Sriracha:100,200,300,400,500,600,700");

/*--------------------------------------------Additional*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.row .col {
  padding: 0;
}

.row .col.s9 {
  margin-left: 0;
}

/*--------------------------------------------Title/Navbar*/

.title {
  font-family: "Sriracha";
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  padding: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 45px;
  }
}

.title-icon {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .title-icon {
    margin-top: 1.1rem;
    margin-right: 0.75rem;
    margin-left: 1.5rem;
  }
}

.title-info {
  font-family: "Sriracha";
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.logo {
  margin-bottom: 0;
}

.nav-heading {
  font-family: "Sriracha";
  font-weight: 500;
  font-size: 25px;
  margin-left: 0.5rem;
}

.nav-link {
  font-family: "Sriracha";
  font-weight: 500;
  font-size: 18px;
}

/*--------------------------------------------My Books/Books To Purchase*/

.collapsible {
  width: 90%;
  margin-left: 4rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .collapsible {
    margin-left: 3rem;
  }
}

@media (max-width: 576px) {
  .collapsible {
    width: 100%;
    margin-left: 0;
  }
}

.page-heading {
  font-family: "Sriracha";
  font-weight: bold;
  font-size: 27px;
  color: #455a64;
  text-decoration-color: #455a64;
  margin-left: 0.5rem;
}

.collapsible-header {
  font-family: "Sriracha";
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  background-color: #455a64;
  border: 1px solid #455a64;
}

@media (max-width: 576px) {
  .collapsible-header i {
    width: 1.5rem;
  }
}

.collapsible-body {
  font-family: "Sriracha";
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #455a64;
}
.add-icon {
  color: #455a64;
  margin-left: 0.5rem;
  font-size: 30px;
}

.add-icon:hover {
  color: #78909c;
}

.rate {
  padding-top: 5px;
  margin-left: 1rem;
}

.edit-icon {
  color: #fff;
  padding-top: 5px;
}

.edit-icon:hover {
  color: #78909c;
}

.delete-icon {
  color: #fff;
  padding-top: 5px;
}

.delete-icon:hover {
  color: #78909c;
}

.link-icon {
  color: #fff;
  padding-top: 5px;
}

@media (max-width: 576px) {
  .link-icon {
    margin-left: 0.5rem;
  }
}

.link-icon:hover {
  color: #78909c;
}

.modal-action {
  font-size: 1.5rem;
}

/*--------------------------------------------Add Books/Purchase/Edit Forms*/

form {
  margin-top: 3rem;
  border: 10px double #455a64;
}

.form-heading {
  font-family: "Sriracha";
  font-weight: bold;
  font-size: 28px;
  color: #455a64;
  text-decoration: underline;
  text-decoration-color: #455a64;
  text-align: center;
}

.form-row {
  font-family: "Sriracha";
  font-weight: bold;
  color: #455a64;
}

.btn-align {
  text-align: center;
}

.submit-btn {
  font-family: "Sriracha";
  font-weight: 500;
  font-size: 17px;
  background-color: #455a64;
}

.submit-btn:hover {
  background-color: #78909c;
}

/*--------------------------------------------Footer*/

.social-link {
  font-size: 2rem;
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .social-link {
    margin-left: 2rem;
  }
}

.social-link:hover {
  color: #78909c;
}
