{% extends 'base.html' %} {% block content %}
<div class="row">
  <form action="{{ url_for('insert_to_purchase') }}" method="POST" class="col s6">
    <div class="row input-field">
      <label for="purchase_title">Book Title</label>
      <input id="purchase_title" name="purchase_title" type="text" class="validate" required />
    </div>
    <div class="row input-field">
      <label for="name_of_author">Author</label>
      <input id="name_of_author" name="name_of_author" type="text" class="validate" required />
    </div>
    <div class="row input-field">
      <label for="release_year">Year of Release</label>
      <input
        id="release_year"
        name="release_year"
        type="text"
        class="validate"
        required
      />
    </div>
    <div class="row input-field">
      <label for="purchase_genre">Genre</label>
      <input id="purchase_genre" name="purchase_genre" type="text" class="validate" required />
    </div>
    <div class="row input-field">
      <label for="why_buy">Why Do You Want This Book?</label>
      <textarea
        id="why_buy"
        name="why_buy"
        class="materialize-textarea"
        maxlength="1000"
      ></textarea>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Add to Library
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
