{% extends 'base.html' %} {% block content %}
<div class="row">
  <form class="col s6">
    <div class="row input-field">
      <label for="book_title">Book Title</label>
      <input id="book_title" type="text" class="validate" />
    </div>
    <div class="row input-field">
      <label for="author">Author</label>
      <input id="author" type="text" class="validate" />
    </div>
    <div class="row input-field">
      <label for="year_of_release">Year of Release</label>
      <input id="year_of_release" type="text" class="validate" />
    </div>
    <div class="row input-field">
      <label for="genre">Genre</label>
      <input id="genre" type="text" class="validate" />
    </div>
    <div class="row">
      <label for="ownership">Do You Own This Book?</label>
      <a class="waves-effect waves-light btn">Yes</a>
      <a class="waves-effect waves-light btn">No</a>
    </div>
    <div class="row input-field">
      <label for="book_review">Your Book Review</label>
      <textarea
        id="book_review"
        class="materialize-textarea"
        maxlength="1000"
      ></textarea>
    </div>
    <div class="row">
      <label for="rating">Rate This Book</label>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
    
  </form>
</div>

{% endblock %}
