{% extends 'base.html' %} {% block content %}

<!--Add Book Form -->
<div class="row">
  <form class="col s12 m8 offset-m2" action="{{ url_for('insert_to_purchase') }}" method="POST">
    <h4 class="form-heading">Add Book To Purchase</h4>
    <div class="col s12 input-field form-row">
      <label for="purchase_title">Book Title</label>
      <input id="purchase_title" name="purchase_title" type="text" class="validate" required />
    </div>
    <div class="col s12 input-field form-row">
      <label for="name_of_author">Author</label>
      <input id="name_of_author" name="name_of_author" class="validate" type="text" required />
    </div>
    <div class="col s12 input-field form-row">
      <label for="release_year">Year of Release</label>
      <input id="release_year" name="release_year" class="validate" type="text" required />
    </div>
    <div class="col s12 input-field form-row">
      <label for="purchase_genre">Genre</label>
      <input id="purchase_genre" name="purchase_genre" class="validate" type="text" required />
    </div>
    <div class="col s12 input-field form-row">
      <label for="why_buy">Why Do You Want This Book?</label>
      <textarea
        id="why_buy"
        name="why_buy"
        class="materialize-textarea"
        maxlength="1000"
      ></textarea>
    </div>
    <div class="col s12 input-field form-row">
      <label for="purchase_link">Link To Buy:</label>
      <input id="purchase_link" name="purchase_link" type="url" />
    </div>
    <div class="row btn-align">
      <button
        class="btn waves-effect waves-light submit-btn"
        type="submit"
        name="action"
      >
        Add to Library
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
