<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<header>
		<div class="container-fluid">
			<nav>
				<div class="nav-wrapper">
					<div class="row blue-grey lighten-1">
						<div class="col s6">
							<a href="#" class="brand-logo title"><i class="fas fa-book"></i>BookSmart</a>
						</div>
						<div class="col s6">
							<div class="title-info">
								Create A Library and Record The Books You Own and Would Like
								To Buy
							</div>
						</div>
						<div class="row">
							<div class="col s2">
								<a href="#">My Library</a>
							</div>
							<div class="col s5">
								<ul id="nav-mobile" class="left hide-on-med-and-down">
									<li><a href="#">My Books</a></li>
									<li><a href="#">Books To Purchase</a></li>
								</ul>
							</div>
							<div class="col s5">
								<ul class="right hide-on-med-and-down">
									<li><a href="#">Add Book</a></li>
									<li><a href="#"></a>Add Book To Purchase</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>

	{% block content %} {% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
        $(".collapsible").collapsible();
      });
	</script>
</body>

</html>