<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<header>
		<div class="container-fluid">
			<nav>
				<div class="nav-wrapper blue-grey darken-2">
					<div class="row">
						<div class="col s6">
							<a href="{{ url_for('my_books') }}" class="brand-logo title"><i class="fas fa-book"></i>BookSmart</a>
						</div>
						<div class="col s6">
							<div class="title-info">
								Create A Library and Record The Books You Own and Would Like
								To Buy
							</div>
						</div>
						<div class="row">
							<div class="col s2 blue-grey lighten-1">
								<a href="{{ url_for('my_books') }}" class="nav-heading">My Library</a>
							</div>
							<div class="col s5 blue-grey lighten-1">
								<ul id="nav-mobile" class="left hide-on-med-and-down">
									<li><a href="{{ url_for('my_books') }}" class="nav-link active"><i class="fas fa-book-open"></i> My
											Books</a>
									</li>
									<li><a href="{{ url_for('books_to_purchase') }}" class="nav-link"><i class="fas fa-shopping-basket"></i> Books To
											Purchase</a>
									</li>
								</ul>
							</div>
							<div class="col s5 blue-grey lighten-1">
								<ul class="right hide-on-med-and-down">
									<li><a href="{{ url_for('add_books') }}" class="nav-link"><i class="fas fa-plus-circle"></i> Add Book</a></li>
									<li><a href="{{ url_for('add_to_purchase') }}" class="nav-link"><i class="fas fa-plus-circle"></i> Add Book To
											Purchase</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>

	{% block content %} {% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
        $(".collapsible").collapsible();
        $('.tooltipped').tooltip();
      });
	</script>
</body>

</html>