{% extends 'base.html' %} {% block content %}
<h4 class="page-heading">My Books To Purchase</h4>
{% for purchase in purchases %}
<div class="container-fluid">
	<div class="row">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">
					<div class="col s5 m6 l8">
						<i class="material-icons hide-on-small-only">local_library</i>
						<strong>{{purchase.purchase_title}}</strong>
					</div>
					<div class="col s7 m6 l4">
						<a href="{{purchase.purchase_link}}" class="tooltipped" data-position="top"
							data-tooltip="Link To Buy"><i class="material-icons function-to-buy-icon">launch</i></a>
						<a href="{{url_for('edit_to_purchase', purchase_id=purchase._id)}}" class="tooltipped"
							data-position="top"
							data-tooltip="Edit"><i class="material-icons function-to-buy-icon">create</i></a>
						<a href="{{url_for('delete_to_purchase', purchase_id=purchase._id)}}" class="tooltipped"
							data-position="top"
							data-tooltip="Delete"><i class="material-icons function-to-buy-icon">delete</i></a>
					</div>
				</div>
				<div class="collapsible-body">
					<span>
            Author: {{purchase.name_of_author}}<br />Year Released:
            {{purchase.release_year}} <br />Genre:
            {{purchase.purchase_genre}}<br />Why Do You Want This Book?:
            {{purchase.why_buy}}
          </span>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endfor %} {% endblock %}