<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<!--Edit Book Form -->
<div class="row">
  <form
    class="col s12 m8 offset-m2"
    action="{{ url_for('update_book', book_id=book._id) }}"
    method="POST"
  >
  <!--Edit Book Heading -->
    <h4 class="form-heading">Edit Book Entry</h4>
    <!-- Book Title Field -->
    <div class="col s12 input-field form-row">
      <label for="book_title">Book Title</label>
      <input
        id="book_title"
        name="book_title"
        type="text"
        class="validate"
        value="{{book.book_title}}"
        required
      />
      <!-- Author Field -->
    </div>
    <div class="col s12 input-field form-row">
      <label for="author">Author</label>
      <input
        id="author"
        name="author"
        type="text"
        class="validate"
        value="{{book.author}}"
        required
      />
    </div>
    <!-- Year of Release Field -->
    <div class="col s12 input-field form-row">
      <label for="year_of_release">Year of Release</label>
      <input
        id="year_of_release"
        name="year_of_release"
        type="text"
        class="validate"
        value="{{book.year_of_release}}"
        required
      />
    </div>
    <!-- Genre Field -->
    <div class="col s12 input-field form-row">
      <label for="genre">Genre</label>
      <input
        id="genre"
        name="genre"
        type="text"
        class="validate"
        value="{{book.genre}}"
        required
      />
    </div>
    <!-- Book Review Field -->
    <div class="col s12 input-field form-row">
      <label for="book_review">Your Book Review</label>
      <textarea
        id="book_review"
        name="book_review"
        class="materialize-textarea"
        maxlength="1000"
        required>{{book.book_review}}</textarea>
    </div>
    <!-- Rating Field -->
    <div class="col s12 input-field form-row">
      <label for="book.rating">Rate This Book From 0 to 5</label>
      <input
        id="book.rating"
        name="book.rating"
        type="number"
        min="0"
        max="5"
        value="{{book.rating}}"
        required
      />
    </div>
    <!-- Update Form Button -->
    <div class="row btn-align">
      <button
        class="btn waves-effect waves-light submit-btn"
        type="submit"
        name="action"
      >
        Update<i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
