{% extends 'base.html' %} {% block content %}
<div class="row">
  <form action="{{ url_for('insert_book') }}" method="POST" class="col s6">
    <div class="row input-field">
      <label for="book_title">Book Title</label>
      <input
        id="book_title"
        name="book_title"
        type="text"
        class="validate"
        value="{{book.book_title}}"
        required
      />
    </div>
    <div class="row input-field">
      <label for="author">Author</label>
      <input
        id="author"
        name="author"
        type="text"
        class="validate"
        value="{{book.author}}"
        required
      />
    </div>
    <div class="row input-field">
      <label for="year_of_release">Year of Release</label>
      <input
        id="year_of_release"
        name="year_of_release"
        type="text"
        class="validate"
        value="{{book.year_of_release}}"
        required
      />
    </div>
    <div class="row input-field">
      <label for="genre">Genre</label>
      <input
        id="genre"
        name="genre"
        type="text"
        class="validate"
        value="{{book.genre}}"
        required
      />
    </div>
    <div class="row input-field">
      <label for="book_review">Your Book Review</label>
      <textarea
        id="book_review"
        name="book_review"
        class="materialize-textarea"
        maxlength="1000"
      >{{book.book_review}}
    </textarea
      >
    </div>
    <div class="row">
      <label for="rating">Rate This Book</label>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
      <i class="small material-icons">star_outline</i>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Update
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
