{% extends 'base.html' %} {% block content %} 

{% for book in books %}
<div class="container-fluid">
  <div class="row">
    <div class="col s9">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">bookmark</i>
            <strong>{{book.book_title}} {{book.rating}}</strong>
          </div>
          <div class="collapsible-body">
            <span>
              Author: {{book.author}}<br>Year Released: {{book.year_of_release}}
              <br>Genre: {{book.genre}}<br>Book Review/Summary: {{book.book_review}}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endfor %} 

{% endblock %}
