{% extends 'base.html' %} {% block content %}

<h4 class="page-heading">My Books</h4>
{% for book in books %}
<div class="container-fluid">
	<div class="row">
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">
					<div class="col s10 m9 l10">
						<i class="material-icons hide-on-small-only">local_library</i>
						<strong>{{book.book_title}}</strong>
                        <span class="tooltipped hide-on-med-and-down" data-position="top"
										data-tooltip="Rating""><i class="material-icons rate">thumbs_up_down</i>{{book.rating}}</span>
					</div>
					<div class="col s2 m3 l2">
						<a href="{{url_for('edit_book', book_id=book._id)}}" class="tooltipped" data-position="top"
							data-tooltip="Edit"><i class="material-icons icons edit-icon">create</i></a>
						<a href="{{url_for('delete_book', book_id=book._id)}}" class="tooltipped" data-position="top"
							data-tooltip="Delete"><i class="material-icons delete-icon">delete</i></a>
					</div>
				</div>
				<div class="collapsible-body">
					<span>
            Author: {{book.author}}<br /> Year Released: {{book.year_of_release}}
            <br />Genre: {{book.genre}}<br />Book Review/Summary:
            {{book.book_review}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>

{% endfor %} {% endblock %}